<!-- -->
{% load static %}

	<style>
	
		body { 
				background: #26282E; 
				color: #bcbcbc;
				font-size: 16px;
				text-align: justify;
				padding: 10px;
				font-family: Arial;
			}
			
		h1 { text-align: center; font-size: 32px; }
		
	</style>
	<link href="{% static 'css/jquery.tabSlideOut.css' %}"  rel="stylesheet">


<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery.tabSlideOut.js' %}"></script>
	
<div id="my-tab">
	<span class="handle">Facebook</span>
	
	<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpasjainformatykifanpage&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=true&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

</div>

<script>

	$('#my-tab').tabSlideOut( {
		tabLocation:'right',
		action:'click',
		offset:'100px'
		} );
	
</script>
	
</body>

</html>